altgraph==0.17
bottle==0.12.18
bottle-websocket==0.2.9
cffi==1.14.0
Eel==0.12.2
future==0.18.2
gevent==1.4.0
gevent-websocket==0.10.1
greenlet==0.4.15
numpy==1.18.2
pandas==1.0.3
pefile==2019.4.18
Pillow==8.2.0
pycparser==2.20
PyInstaller==3.6
python-dateutil==2.8.1
pytz==2019.3
pywin32-ctypes==0.2.0
six==1.14.0
whichcraft==0.6.1
wxPython==4.0.7.post2
